[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djando = "*"
djangorestframework = "*"
requests = "*"
django-cors-headers = "*"
PyYAML = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-multiselectfield = "*"
django = "*"
django-admin = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.9"
